<section id="fo-vantagens" load>
    <div class="fo-ct-text">
        <h1>Descubra as vantagens do Firefox OS</h1>
        <p>Clique nos ícones e descubra todas as características da raposa que será seu próximo smartphone.</p>
        <ul>
            <li>
                <a href="#/vantagens/1" title="Internet">
                    <img src="assets/img/ico-internet.png" alt="">
                </a>
            </li>
            <li>
                <a href="#/vantagens/2" title="Controle seus gastos">
                    <img src="assets/img/ico-financas.png" alt="">
                </a>
            </li>
            <li>
                <a href="#/vantagens/3" title="Mapas">
                    <img src="assets/img/ico-mapas.png" alt="">
                </a>
            </li>
            <li>
                <a href="#/vantagens/4" title="Fotos">
                    <img src="assets/img/ico-fotos.png" alt="">
                </a>
            </li>
            <li>
                <a href="#/vantagens/5" title="Redes Sociais">
                    <img src="assets/img/ico-redes.png" alt="">
                </a>
            </li>
            <li>
                <a href="#/vantagens/6" title="Música">
                    <img src="assets/img/ico-musica.png" alt="">
                </a>
            </li>
            <li>
                <a href="#/vantagens/7" title="Privacidade">
                    <img src="assets/img/ico-privacidade.png" alt="">
                </a>
            </li>
            <li>
                <a href="#/vantagens/8" title="Busca Inteligente">
                    <img src="assets/img/ico-busca.png" alt="">
                </a>
            </li>
            <li>
                <a href="#/vantagens/9" title="Line">
                    <img src="assets/img/ico-line.png" alt="">
                </a>
            </li>
            <li>
                <a href="#/vantagens/10" title="E-mail">
                    <img src="assets/img/ico-email.png" alt="">
                </a>
            </li>
        </ul>
    </div>
</section>